.black, .white {
    margin-top: 10px;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.white {
    background-color: rgba(255,255,255, 0.7);
}

.black {
    background-color: rgb(0,0,0, 0.7)
}